<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css">
    <style type="text/css">
        blockquote {
            padding: 10px 20px;
            margin: 0 0 20px;
            font-size: 17.5px;
            border-left: 5px solid #94785e;
        }
    </style>
</head>
<body>
<div th:include="fragment::navbar"></div>
<div class="container padding-top50 bg-white maxWidth650">
    <div class="text-center">
        <h4 th:text="${form.title}"></h4>
    </div>
    <div class="text-center">
        <small class="text-muted">作者：<span th:text="${form.user.name}"></span>
            &nbsp;&nbsp;&nbsp;
            <span th:text="${#dates.format(form.createdTime,'yyyy/MM/dd')}"></span>
        </small>
    </div>
    <hr>
    <div>
        <p th:utext="${form.content}"></p>
    </div>
</div>
<div class="container maxWidth650" style="padding: 2em 0em;" ng-app="commentApp">
    <!-- 评论 -->
    <div ng-controller="commentController">
        <p style="color: #fad6a6;">评论（{{comments.length}}）</p>
        <hr class="bg-faded">
        <div ng-repeat="comment in comments track by $index">
            <div class="row" style="margin:1em 0em;padding-bottom:1em;border-bottom: dashed 0.1em #866667;">
                <div class="col-md-1">
                    <img ng-src="comment.user.avatar" class="width40 height40 borderRadius50">
                </div>
                <div class="col-lg-11">
                    <div class="height20">
                        <label class="width80" style="color: #a1bad0;float: left;">{{comment.user.name}}</label>
                        <div style="color:#866667;float: left;">
                            <i class="fa fa-thumbs-o-up"></i>
                            <span ng-if="comment.vote > 0">({{comment.vote}})</span>
                        </div>
                    </div>
                    <div class="minHeight20">
                        <p style="color: white;">{{comment.content}}</p>
                    </div>
                    <div>
                        <div style="width: 8em;color: #866667;float: left;"><small>{{comment.createdTime | date:'yyyy/MM/dd HH:mm'}}</small></div>
                        <div style="color: #866667;float: left;cursor: pointer;">
                            <i class="fa fa-comment-o" ng-click="showReplyForm($event)"></i>
                        </div>
                        <div class="clearfix"></div>

                        <!-- 回复 -->
                        <div class="margin-top10">
                            <div class="col-md-10 col-lg-offset-2">
                                <div ng-repeat="reply in comment.replies track by $index">
                                    <div class="row"
                                         style="margin:1em 0em;padding-bottom:1em;border-bottom: dashed 0.1em #866667;">
                                        <div class="col-md-1">
                                            <img ng-src="reply.sender.avatar" class="width30 height30 borderRadius50">
                                        </div>
                                        <div class="col-lg-11">
                                            <div class="height20">
                                                <label class="width80" style="color: #a1bad0;float: left;">{{reply.sender.name}}</label>
                                                <div style="color:#866667;float: left;">
                                                    <i class="fa fa-thumbs-o-up"></i>
                                                    <span ng-if="reply.vote > 0">({{reply.vote}})</span>
                                                </div>
                                            </div>
                                            <div class="minHeight20">
                                                <p style="color: white;">{{reply.content}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="margin-top10 reply" style="display: none;">
                            <form>
                                <div><textarea rows="3" placeholder="回复内容" class="form-control"
                                               ng-model="newReply.content"></textarea></div>
                                <div>
                                    <button class="btn btn-sm"
                                            ng-click="saveReply(comment.id,comment.user.id,newReply.content)">回复
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="bg-white">
            <form name="commentForm">
            <div>
                <textarea rows="3" class="form-control" ng-maxlength="500" placeholder="你的评论……" required ng-model="newComment.content"></textarea>
            </div>
            <div>
                <button type="button" class="btn bg-warning width50" ng-disabled="commentForm.$invalid" ng-click="saveComment()">发表</button>
            </div>
            </form>
        </div>
    </div>
</div>
<div th:include="fragment::tooltip"></div>
</body>
<script type="text/javascript" th:inline="javascript">
    var commentApp = angular.module('commentApp',[]);
    commentApp.controller('commentController',function ($scope,$http) {
        $scope.comments = [];
        var targetId = [[${form.id}]];
        var targetType = 'ARTICLE';
        $http.get('/comment/list',{params:{
            page:0,
            size:500,
            targetType:targetType,
            targetId:targetId
        }}).success(function (data) {console.log(data.data.content);
            if(data.code) {
                $scope.comments = data.data.content;
            }else{
                Tooltip.fail(data.msg);
            }
        });

        $scope.newComment = {
            targetType: targetType,
            targetId: targetId,
            content: ''
        };
        $scope.saveComment = function () {
              $http.post('/comment/add',$scope.newComment).success(function (data) {
                  if(data.code) {
                      $scope.comments.push(data.data);
                      $scope.newComment.content = '';
                  }else {
                      Tooltip.fail(data.msg);
                  }
              });
        };

        $scope.showReplyForm = function(e){
            angular.element(e.target).parent('div').siblings('div.reply').toggle();
        };

        $scope.saveReply = function(commentId,accepterId,content){
            $scope.newReply = {
                commentId:commentId,
                accepterId:accepterId,
                content:content
            };
            $http.post('/reply/add',$scope.newReply).success(function(data){
                if(data.code){

                }else{
                    Tooltip.fail(data.msg);
                }
            });
        };
    });
</script>
</html>