<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css">
    <style type="text/css">
        blockquote {
            padding: 10px 20px;
            margin: 0 0 20px;
            font-size: 17.5px;
            border-left: 5px solid #94785e;
        }
    </style>
</head>
<body>
<div th:include="fragment::navbar"></div>
<div class="container padding-top50 bg-white maxWidth650">
    <div class="text-center">
        <h4 th:text="${form.title}"></h4>
    </div>
    <div class="text-center">
        <small class="text-muted">作者：<span th:text="${form.user.name}"></span>
            &nbsp;&nbsp;&nbsp;
            <span th:text="${#dates.format(form.createdTime,'yyyy/MM/dd')}"></span>
        </small>
    </div>
    <hr>
    <div>
        <p th:utext="${form.content}"></p>
    </div>
</div>
<div class="container maxWidth650" style="padding: 2em 0em;" ng-app="commentApp">
    <div ng-controller="commentController">
        <p style="color: #fad6a6;">评论（{{comments.length}}）</p>
        <hr class="bg-faded">
        <div ng-repeat="comment in comments track by $index">
            <div class="row" style="margin:1em 0em;padding-bottom:1em;border-bottom: dashed 0.1em #866667;">
                <div class="col-md-1">
                    <img ng-src="comment.user.avatar" class="width40 height40 borderRadius50">
                </div>
                <div class="col-lg-11">
                    <div class="height20">
                        <label class="width20" style="color: #a1bad0;">{{comment.user.name}}</label><small class="text-muted" style="color: #866667">{{comment.createdTime | date:'yyyy/MM/dd HH:mm'}}</small>
                    </div>
                    <div>
                        <p style="color: white;">{{comment.content}}</p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="bg-white">
            <form name="commentForm">
            <div>
                <textarea rows="3" class="form-control" ng-maxlength="500" placeholder="你的评论……" required ng-model="newComment.content"></textarea>
            </div>
            <div>
                <button type="button" class="btn bg-warning width50" ng-disabled="commentForm.$invalid" ng-click="saveComment()">发表</button>
            </div>
            </form>
        </div>
    </div>
</div>
<div th:include="fragment::tooltip"></div>
</body>
<script type="text/javascript" th:inline="javascript">
    var commentApp = angular.module('commentApp',[]);
    commentApp.controller('commentController',function ($scope,$http) {
        $scope.comments = [];
        var targetId = [[${form.id}]];
        var targetType = 'ARTICLE';
        $http.get('/comment/list',{params:{
            page:0,
            size:500,
            targetType:targetType,
            targetId:targetId
        }}).success(function (data) {console.log(data.data.content);
            if(data.code) {
                $scope.comments = data.data.content;
            }else{
                Tooltip.fail(data.msg);
            }
        });

        $scope.newComment = {
            targetType: targetType,
            targetId: targetId,
            content: ''
        };
        $scope.saveComment = function () {
              $http.post('/comment/add',$scope.newComment).success(function (data) {
                  if(data.code) {
                      $scope.comments.push(data.data);
                      $scope.newComment.content = '';
                  }else {
                      Tooltip.fail(data.msg);
                  }
              });
        };
    });
</script>
</html>