<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css">
    <style type="text/css">
        blockquote {
            padding: 10px 20px;
            margin: 0 0 20px;
            font-size: 17.5px;
            border-left: 5px solid #94785e;
        }
    </style>
</head>
<body>
<div th:include="fragment::navbar"></div>
<div class="container padding-top50 bg-white">
    <div class="text-center">
        <h4 th:text="${form.title}"></h4>
    </div>
    <div class="text-center">
        <small class="text-muted">作者：<span th:text="${form.user.name}"></span>
            &nbsp;&nbsp;&nbsp;
            <span th:text="${#dates.format(form.createdTime,'yyyy/MM/dd')}"></span>
        </small>
    </div>
    <hr>
    <div>
        <p th:utext="${form.content}"></p>
    </div>
</div>
<div th:include="fragment::tooltip"></div>
</body>
</html>