<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
   </head>
<body>
<div class="container">
    <form class="col-md-8" ng-controller="passwordController" name="passwordForm">
        <fieldset class="form-group" ng-class="{'has-error':passwordForm.oldPassword.$dirty && passwordForm.oldPassword.$invalid}">
            <label class="inputLabel">旧密码</label>
            <label ng-cloak class="control-label size7" ng-show="passwordForm.oldPassword.$dirty && passwordForm.oldPassword.$invalid">请填写密码，且长度为6~12位</label>
            <input type="password" name="oldPassword" class="form-control" ng-minlength="1" ng-maxlength="12" required ng-model-options="{ updateOn: 'blur' }" ng-model="oldPassword">
        </fieldset>
        <fieldset class="form-group" ng-class="{'has-error':passwordForm.newPassword.$dirty && passwordForm.newPassword.$invalid}">
            <label class="inputLabel">新密码</label>
            <label ng-cloak class="control-label size7" ng-show="passwordForm.newPassword.$dirty && passwordForm.newPassword.$invalid">请填写密码，且长度为6~12位</label>
            <input type="password" name="newPassword" class="form-control" ng-minlength="6" ng-maxlength="12" required ng-model-options="{ updateOn: 'blur' }" ng-model="newPassword">
        </fieldset>
        <fieldset class="form-group" ng-class="{'has-error':passwordForm.confirmPassword.$dirty && passwordForm.confirmPassword.$invalid || (newPassword != confirmPassword)}">
            <label class="inputLabel">确认密码</label>
            <label ng-cloak class="control-label size7" ng-show="passwordForm.confirmPassword.$dirty && passwordForm.confirmPassword.$invalid">请填写密码，且长度为6~12位</label>
            <label ng-cloak class="control-label size7" ng-show="newPassword != confirmPassword">两次输入密码不一致</label>
            <input type="password" name="confirmPassword" class="form-control" ng-minlength="1" ng-maxlength="12" required ng-model-options="{ updateOn: 'blur' }" ng-model="confirmPassword">
        </fieldset>
        <fieldset class="form-group margin-top20">
            <button class="btn btn-info-outline btn-lg btn-block" type="button" ng-disabled="passwordForm.$invalid || newPassword != confirmPassword" ng-click="updatePassword(passwordForm.$valid)">保&nbsp;&nbsp;存</button>
        </fieldset>
    </form>
</div>
</body>
</html>