<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" ng-app="storyApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/webuploader.css">
</head>
<body>
<div th:include="fragment::navbar"></div>
<div class="container margin-top40">
    <div class="col-md-6" style="background: url('/static/image/story_img.jpg') no-repeat center;height: 320px;">
    </div>
    <form ng-controller="storyController" class="col-md-4">
        <div>
            <fieldset class="form-group">
                <div class="padding-top10 padding-bottom10"><img ng-src="{{story.picture}}" class="maxWidth200 maxheight200"></div>
               <button id="picture" class="btn btn-sm">选择故事图片</button>
            </fieldset>
            <fieldset class="form-group">
                <textarea rows="5" class="form-control" placeholder="故事简述" ng-model="story.description"></textarea>
            </fieldset>
            <button ng-cloak class="btn btn-warning-outline" style="width: 8.7em" ng-if="story.id == null" ng-click="saveStory()"><i
                    class="fa fa-pencil"></i>&nbsp;发表
            </button>
            <button ng-cloak class="btn btn-warning-outline" style="width: 8.7em" ng-if="story.id != null" ng-click="updateStory()"><i
                    class="fa fa-pencil"></i>&nbsp;更新
            </button>
        </div>
    </form>
</div>
<div th:include="fragment::tooltip"></div>
</body>
<script type="text/javascript" src="/static/js/webuploader.html5only.min.js"></script>
<script type="text/javascript" th:inline="javascript">
    var app = angular.module('storyApp', []);
    app.controller('storyController', function ($scope, $http) {
        $scope.story = {
            id: [[${form.id}]],
            picture: [[${form.picture}]],
            description: [[${form.description}]]
        };

        $scope.saveStory = function () {
            $http.post('/story/add', $scope.story).success(function (data) {
                    Tooltip.handle(data);
            });
        };

        $scope.updateStory = function () {
            $http.post('/story/update', $scope.story).success(function (data) {
                    Tooltip.handle(data);
            });
        };

        var uploader = WebUploader.create({
            auto: true,
            server: '/qiniu/upload/story',
            pick: '#picture',
            accept: {
                title: 'Images',
                extensions: 'gif,jpg,jpeg,bmp,png',
                mimeTypes: 'image/gif,image/jpg,image/jpeg,image/bmp,image/png'
            },
            fileSingleSizeLimit: 2 * 1024 * 1024
        });
        uploader.on('uploadStart', function () {
        });
        uploader.on('uploadSuccess', function (file, response) {
            if (response.code == 1) {
                $scope.story.picture = response.data;
                $scope.$apply();
            } else {
                Tooltip.fail(response.msg);
            }
        });
        uploader.on('error', function (type) {
            if ("F_EXCEED_SIZE" == type) {
                Tooltip.fail('图片大小不能超过2M');
            } else {
                Tooltip.fail('图片格式不正确');
            }
        });
    });
</script>
</html>