<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" ng-app="storyApp">
<head>
    <meta charset="UTF-8">
    <title>故事</title>
    <link rel="stylesheet" type="text/css" href="/static/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css">
    <style type="text/css">
        .card{
            color: #E7E5DF;
        }
    </style>
</head>
<body>
<div th:include="fragment::navbar"></div>
<div class="container margin-top50" ng-controller="storyController">
    <div>
        <a class="btn btn-lg writeBtn" href="/story/add"><i class="fa fa-pencil"></i> 写故事</a>
    </div>
    <div class="card col-md-3 height160 margin-bottom20" style="border: none;" ng-cloak infinite-scroll="getMoreStories()" infinite-scroll-disabled="pageLast"
         infinite-scroll-distance='0' ng-repeat="story in stories track by $index" on-finish-render>
        <a ng-href="/story/{{story.id}}" target="_blank"><img ng-src="{{story.picture}}" class="card-img-top height100 widthFull">
            <div class="story card-block height60" style="background-color: rgba(235, 238, 235, 0.1);">
                <p class="card-text familyS9 textWhite2" ng-bind="story.description | lengthFilter:45"></p>
            </div>
        </a>
    </div>
</div>
<a href="#0" class="cd-top">Top</a>
<div th:include="fragment::tooltip"></div>
</body>
<script type="text/javascript" src="/static/js/ng-infinite-scroll.min.js"></script>
<script type="text/javascript">
    var story = angular.module('storyApp', ['infinite-scroll','filter']);
    story.directive('onFinishRender', function ($timeout) {
        return {
            restrict: 'A',
            link: function (scope, element, attr) {
                if (scope.$last === true) {
                    $timeout(function () {
                        scope.$emit('ngRepeatFinished');
                    });
                }
            }
        }
    });
    story.controller('storyController', function ($scope, $http) {
        var colors = ['#bd8c7d', '#d1bfa7', '#3a4660', '#c9af98', '#839973', '#ed8a63', '#845007', '#21A8A3'];
        $scope.$on('ngRepeatFinished', function () {
            $('.story.card-block').each(function (i,element) {
                var index = parseInt(Math.random()*8);
                var shadow = '0em -0.1em 0em '+ colors[index] + ' inset';
                $(element).css('box-shadow',shadow);
            });
        });

        $scope.stories = [];
        $scope.currentPage = 1;
        $scope.pageSize = 20;
        $scope.pageLast = false;
        $scope.getStories = function (page) {
            $http.get('/story/list', {
                params: {
                    page: page - 1,
                    size: $scope.pageSize
                }
            }).success(function (data) {
                if (data.code) {
                    $scope.stories = $scope.stories.concat(data.data.content);
                    $scope.currentPage = data.data.number + 1;
                    $scope.pageLast = data.data.last;
                } else {
                    Tooltip.fail(data.msg);
                }
            });
            return $scope.stories;
        };
        $scope.getStories($scope.currentPage);
        $scope.getMoreStories = function () {
            $scope.getStories($scope.currentPage + 1)
        };
    });
</script>
</html>