<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        .card-block .remove{
            display: none;
            cursor: pointer;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="card" ng-repeat="story in stories track by $index" on-finish-render>
        <div class="story card-block bg-white shadow2" ng-mouseenter="showRemoveBtn($event)" ng-mouseleave="hideRemoveBtn($event)">
            <div class="pull-left">
                <a ng-href="/story/update/{{story.id}}"><img ng-if="story.picture!=null" ng-src="{{story.picture}}" class="width80 height80">
                </a>
            </div>
            <div class="pull-left padding10">
               <div class="minHeight50">
                   <a ng-href="/story/update/{{story.id}}">
                    <p class="text-muted" ng-bind="story.description"></p>
                   </a>
                </div>
                <div class="height10">
                    <small class="text-muted">{{story.createdTime | date:'yyyy/MM/dd HH:mm'}}</small>
                    <i class="fa fa-trash-o text-muted remove margin-left10" ng-click="removeStory($index,story.id)"></i>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="pagination" ng-show="stories.length >0">
        <a href="#" class="first" data-action="first">&laquo;</a>
        <a href="#" class="previous" data-action="previous">&lsaquo;</a>
        <input type="text" readonly="readonly"/>
        <a href="#" class="next" data-action="next">&rsaquo;</a>
        <a href="#" class="last" data-action="last">&raquo;</a>
    </div>
</div>
</body>
</html>