<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>VisualLife</title>
    <link rel="stylesheet" type="text/css" href="/static/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css">
    <style type="text/css">
        .search::-webkit-input-placeholder{
            color: rgba(73, 73, 75, 0.6) !important;
        }
    </style>
</head>
<body>
<div th:include="fragment::navbar"></div>
<div class="container margin-top40">
    <div>
        <a class="btn btn-lg writeBtn" href="/article/add"><i class="fa fa-pencil"></i>&nbsp;&nbsp; 写文章</a>
    </div>
    <div class="card-columns">
        <div class="article card bg-white" th:each="article:${page.getContent()}">
            <a th:href="@{'/article/'+${article.id}}"><img class="card-img-top widthFull" th:if="${article.coverImg != null}" th:src="${article.coverImg}">
            <div class="card-block">
                <h5 class="card-title" th:text="${article.title}"></h5>
                <p class="card-text text-muted" th:text="${article.summarize}"></p>
                <p class="card-text"><small class="text-muted" th:text="${#dates.format(article.createdTime,'yyyy/MM/dd')}"></small></p>
            </div>
            </a>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    $(function(){
        var colors = ['#bd8c7d','#d1bfa7','#3a4660','#c9af98','#c9af98','#ed8a63','#845007','#21A8A3'];
        function changeColor() {
            $('.article.card').each(function (i,element) {
                var index = parseInt(Math.random()*8);
                var shadow = '0em -0.3em 0em '+ colors[index] + ' inset';
                $(element).css('box-shadow',shadow);
            });
        }
        changeColor();
    });
</script>
</html>