<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" ng-app="loginApp">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <style>
        .loginOuter {
            position: fixed;
            left: 50%;
            top: 50%;
        }

        .loginInter {
            width: 55em;
            height: 20em;
            margin-left: -27.5em;
            margin-top: -10em;
            padding: 1em;
        }

        .loginImg {
            width: 28em;
            height: 18em;
        }

        .loginForm {
            width: 23em;
            height: 18em;
            padding-left: 3em;
            border-left: dotted 1px lightgrey;
        }

        .loginForm .logo {
            margin-left: -6.6em;
            margin-top: -6em;
            margin-bottom: 1em;
        }
    </style>

</head>
<body>
<div th:include="fragment::files"></div>
<div class="loginOuter">
    <div class="loginInter">
        <div class="pull-left loginImg">
            <img src="/static/image/login_img.jpg">
        </div>
        <div class="pull-right loginForm" ng-controller="loginController">
            <div class="logo">
                <img src="/static/image/logo_lg.png">
            </div>
            <form name="loginForm">
                <fieldset class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon bg-red borderNone"><i class="fa fa-user width10"></i></div>
                        <input type="text" class="form-control" placeholder="昵称/手机号" ng-model="nameOrMobile">
                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon bg-red borderNone"><i class="fa fa-lock width10"></i></div>
                        <input type="password" class="form-control" placeholder="密码" ng-model="password">
                    </div>
                </fieldset>
                <button type="button" class="btn btn-warning-outline btn-block" ng-click="login()">登&nbsp;&nbsp;录
                </button>
                <fieldset class="form-group">
                    <div style="padding-top: 20px;">
                        <label class="pointer textWhite2"><input type="checkbox" ng-model="rememberMe">&nbsp;记住我</label>
                        <a ng-href="{{registerHref}}" class="pull-right jumpLink">去注册&nbsp;<i
                                class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </fieldset>
            </form>
            <div ng-cloak ng-show="loginFailure" id="alertInfo"
                 class="alert alert-danger alert-dismissible fade in margin-top10" role="alert">
                <button type="button" class="close" ng-click="hiddenMsg()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                {{responseMsg}}
            </div>
        </div>
    </div>
</div>
<div th:include="fragment::tooltip"></div>
</body>
<script type="text/javascript" th:inline="javascript">
    var app = angular.module('loginApp', []);
    app.controller('loginController', function ($scope, $http) {
        var vfUser = null;
        var vfUserStr = localStorage.getItem('vfUser');
        var rememberMe = localStorage.getItem('rememberMe')=='true';

        function vfUserIsExist() {
            if(vfUserStr != undefined && vfUserStr != null) {
                vfUser = JSON.parse(vfUserStr);
                return true;
            }else {
                return false;
            }
        }

        $scope.nameOrMobile = vfUserIsExist() ? vfUser.nameOrMobile : '';
        $scope.password = vfUserIsExist() ? vfUser.password : '';
        $scope.rememberMe = rememberMe;
        $scope.needBack = [[${needBack}]] || false;
        $scope.backUrl = [[${backUrl}]] || '/home';
        $scope.registerHref = '/registerPage';
        if ($scope.needBack) {
            $scope.registerHref += '?needBack=true&backUrl=' + $scope.backUrl;
        }
        $scope.login = function () {
            $scope.loginFailure = false;
            $scope.responseMsg = '';
            if ($scope.rememberMe) {
                var vfUser = {
                    nameOrMobile: $scope.nameOrMobile,
                    password: $scope.password
                };
                localStorage.setItem("vfUser", JSON.stringify(vfUser));
                localStorage.setItem("rememberMe", $scope.rememberMe);
            } else {
                localStorage.removeItem("vfUser");
                localStorage.setItem("rememberMe", $scope.rememberMe);
            }
            if ($scope.nameOrMobile == '') {
                $scope.loginFailure = true;
                $scope.responseMsg = '请填写昵称或手机号';
            } else if ($scope.password == '') {
                $scope.loginFailure = true;
                $scope.responseMsg = '请填写密码';
            }else{
                $http.get('/login', {
                    params: {
                        nameOrMobile: $scope.nameOrMobile,
                        password: $scope.password
                    }
                }).success(function (data) {
                    if (data.code) {
                        if ($scope.needBack) {
                            location.href = $scope.backUrl;
                        } else {
                            location.href = data.jumpUrl;
                        }
                    } else {
                        $scope.loginFailure = true;
                        $scope.responseMsg = data.msg;
                    }
                });
            }
        };

        $scope.hiddenMsg = function () {
            $scope.loginFailure = false;
        };

        $(function () {
            document.onkeydown = function (e) {
                e = e || event;
                if (e.keyCode == 13) {
                    $scope.login();
                }
            };
        });
    });
</script>
</html>