<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" ng-app="myHome">
<head>
    <meta charset="UTF-8">
    <title>我的主页</title>
    <link rel="stylesheet" type="text/css" href="/static/css/jquery-accordion-menu.css">
    <link rel="stylesheet" type="text/css" href="/static/css/jqpagination.css">
</head>
<body>
<div th:include="fragment::navbar"></div>
<div class="container" style="margin-top: 3.5em">
    <div class="col-md-4">
        <div id="jquery-accordion-menu"
             style="position:fixed;min-width: 10em;max-width:23em;box-shadow: 0 5px 10px #333;"
             class="jquery-accordion-menu mc">
            <ul id="demo-list">
                <li><a href="#/article"><i class="fa fa-file-text"></i>我的文章 </a></li>
                <li><a href="#/story"><i class="fa fa-glass"></i>我的故事 </a></li>
                <li><a href="#/user"><i class="fa fa-user"></i>个人信息 </a></li>
                <li><a href="#/password"><i class="fa fa-lock"></i>修改密码</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-8 padding10">
        <ng-view></ng-view>
    </div>
</div>
<div th:include="fragment::tooltip"></div>
</body>
<script type="text/javascript" src="/static/js/angular-route.min.js"></script>
<script type="text/javascript" src="/static/js/jquery-accordion-menu.js"></script>
<script type="text/javascript" src="/static/js/jquery.jqpagination.min.js"></script>
<script type="text/javascript" th:inline="javascript">
    jQuery(document).ready(function () {
        jQuery("#jquery-accordion-menu").jqueryAccordionMenu();
    });

    $(function () {
        //顶部导航切换
        $("#demo-list li").click(function () {
            $("#demo-list li.active").removeClass("active");
            $(this).addClass("active");
        })
    })

    var myHome = angular.module('myHome', ['ngRoute']);
    myHome.directive('onFinishRender', function ($timeout) {
        return {
            restrict: 'A',
            link: function (scope, element, attr) {
                if (scope.$last === true) {
                    $timeout(function () {
                        scope.$emit('ngRepeatFinished');
                    });
                }
            }
        }
    });

    myHome.controller('articleController', function ($q, $scope, $http, $timeout) {
        var colors = ['#bd8c7d', '#d1bfa7', '#3a4660', '#c9af98', '#839973', '#ed8a63', '#845007', '#21A8A3'];
        $scope.$on('ngRepeatFinished', function () {
            $('.article.card-block').each(function (i, element) {
                var index = parseInt(Math.random() * 8);
                var shadow = '-0.3em 0em' + colors[index] + ' inset';
                $(element).css('box-shadow', shadow);
            });
        });

        $scope.articles = [];
        $scope.currentPage = 1;
        $scope.pageSize = 10;
        $scope.totalPages = 0;
        $scope.firstVisit = true;
        $scope.getArticles = function (page) {
            $http.get('/myHome/article', {
                params: {
                    page: page - 1,
                    size: $scope.pageSize
                }
            }).success(function (data) {
                if (data.code) {
                    if ($scope.firstVisit) {
                        $scope.articles = data.data.content;
                        $scope.currentPage = data.data.number + 1;
                        $scope.totalPages = data.data.totalPages;
                        $('.pagination').jqPagination({
                            max_page: $scope.totalPages, //设置最大页 默认为1
                            page_string: '{current_page} / {max_page}',
                            paged: function (page) {
                                $scope.getArticles(page);
                            }
                        });
                        $scope.firstVisit = false;
                    } else {
                        $scope.articles = data.data.content;
                        $scope.currentPage = data.data.number + 1;
                        $scope.totalPages = data.data.totalPages;
                    }
                } else {
                    Tooltip.fail(data.msg);
                }
            });
        };

        $scope.getArticles($scope.currentPage);
        $scope.showRemoveBtn = function (e) {
            angular.element(e.target).find('.remove').show();
        };
        $scope.hideRemoveBtn = function (e) {
            angular.element(e.target).find('.remove').hide();
        };
        $scope.removeArticle = function (index, id) {
            x0p('确认删除?', null, 'warning', function (button) {
                if (button == 'warning') {
                    $http.post('/article/remove/' + id).success(function (data) {
                        if (data.code) {
                            $scope.getArticles($scope.currentPage);
                        } else {
                            Tooltip.fail(data.msg);
                        }
                    });
                }
            });
        };
    }).controller('storyController', function ($scope, $http) {
        var colors = ['#bd8c7d', '#d1bfa7', '#3a4660', '#c9af98', '#839973', '#ed8a63', '#845007', '#21A8A3'];
        $scope.$on('ngRepeatFinished', function () {
            $('.story.card-block').each(function (i, element) {
                var index = parseInt(Math.random() * 8);
                var shadow = '-0.3em 0em' + colors[index] + ' inset';
                $(element).css('box-shadow', shadow);
            });
        });

        $scope.stories = [];
        $scope.currentPage = 1;
        $scope.pageSize = 10;
        $scope.totalPages = 0;
        $scope.firstVisit = true;
        $scope.getStories = function (page) {
            $http.get('/myHome/story', {
                page: page - 1,
                size: $scope.pageSize
            }).success(function (data) {
                if (data.code) {
                    if ($scope.firstVisit) {
                        $scope.stories = data.data.content;
                        $scope.currentPage = data.data.number + 1;
                        $scope.totalPages = data.data.totalPages;
                        $('.pagination').jqPagination({
                            max_page: $scope.totalPages, //设置最大页 默认为1
                            page_string: '{current_page} / {max_page}',
                            paged: function (page) {
                                $scope.getStories(page);
                            }
                        });
                        $scope.firstVisit = false;
                    } else {
                        $scope.stories = data.data.content;
                        $scope.currentPage = data.data.number + 1;
                    }
                } else {
                    Tooltip.fail(data.msg);
                }
            });
        };

        $scope.getStories($scope.currentPage);
        $scope.showRemoveBtn = function (e) {
            angular.element(e.target).find('.remove').show();
        };
        $scope.hideRemoveBtn = function (e) {
            angular.element(e.target).find('.remove').hide();
        };
        $scope.removeStory = function (index, id) {
            x0p('确认删除?', null, 'warning', function (button) {
                if (button == 'warning') {
                    $http.post('/story/remove/' + id).success(function (data) {
                        if (data.code) {
                            $scope.getStories($scope.currentPage);
                        } else {
                            Tooltip.fail(data.msg);
                        }
                    });
                }
            });
        };
    }).controller('userController', function ($scope, $http) {
        $scope.user = {};
        $http.get('/myHome/userInfo').success(function (data) {
            $scope.user = data.data;
        });

        $scope.updateUser = function () {
            $http.post('/user/update', $scope.user).success(function (data) {
                Tooltip.handle(data);
            });
        };

        var uploader = WebUploader.create({
            auto: true,
            server: '/qiniu/upload/avatar',
            pick: '#avatar',
            accept: {
                title: 'Images',
                extensions: 'gif,jpg,jpeg,bmp,png',
                mimeTypes: 'image/gif,image/jpg,image/jpeg,image/bmp,image/png'
            },
            fileSingleSizeLimit: 2 * 1024 * 1024
        });
        uploader.on('uploadStart', function () {
        });
        uploader.on('uploadSuccess', function (file, response) {
            if (response.code == 1) {
                $scope.user.avatar = response.data;
                $scope.$apply();
            } else {
                Tooltip.fail(response.msg);
            }
        });
        uploader.on('error', function (type) {
            if ("F_EXCEED_SIZE" == type) {
                Tooltip.fail('图片大小不能超过2M');
            } else {
                Tooltip.fail('图片格式不正确');
            }
        });
    }).controller('passwordController', function ($scope, $http) {
        $scope.oldPassword = '';
        $scope.newPassword = '';
        $scope.confirmPassword = '';
        $scope.updatePassword = function () {
            $http.get('/user/update/password/' + [[${session.user.id}]], {
                params: {
                    oldPassword: $scope.oldPassword,
                    newPassword: $scope.newPassword
                }
            }).success(function (data) {
                Tooltip.handle(data);
            });
        };
    });
    myHome.config(function ($routeProvider, $locationProvider) {
        $routeProvider.when('/article', {
            templateUrl: '../templates/article/userList.html',
            controller: 'articleController'
        }).when('/story', {
            templateUrl: '../templates/story/userList.html',
            controller: 'storyController'
        }).when('/user', {
            templateUrl: '../templates/user/info.html',
            controller: 'userController'
        }).when('/password', {
            templateUrl: '../templates/user/password.html',
            controller: 'passwordController'
        }).otherwise({
            redirectTo: ''
        });
    });
</script>
</html>